<ul data-api="<%=api %>" id="jenkins-jobs">
<%    for (var i in data) {
        var job = data[i];
        var color = job.color;
        if (job.color !== undefined) {
            switch (color) {
                case 'red':
                    color = "#EF2929"
                    break;
                case 'blue':
                    color = "#4E9A06"
                    break;
                default:
                    color = "#333"
            }
%>
            <li class="jenkins-job" id="<%=job.name%>" style="border-left:3px solid <%=color %>">
                <span>&rarr;</span><span style="display:none">&darr;</span>&nbsp; <%=job.name %>
                <span style="display:none;" class="builds_nav">&raquo; <em>Builds</em></span>
                <button type="button" class="btn btn-success btn-sm btn-build" style="display:none;">Build <%=job.name %></button>
                <button type="button" class="btn btn-primary btn-sm btn-refresh-builds" style="display:none;">Refresh Builds</button>
                <ul style="display:none"></ul>
                <textarea class="build-info-data" style="display:none"></textarea>
            </li>
<%
            }
        }
%>